@layer utilities {
  .animate-bounce {
    animation: bounce 1s infinite;
  }

  .text-glow {
    text-shadow: 0 0 20px rgba(52, 211, 153, 0.5);
  }

  .bg-glass {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.05);
  }
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #020617;
  /* Slate 950 */
  color: white;
}